# Documentação gerada
/docs

# Arquivos compilados
*.o
*.elf
*.iso

# Diretório ISO temporário
iso/boot/kernel.elf
iso/boot/grub/menu.lst
iso/boot/grub/stage2_eltorito
iso/modules/

# Logs do Bochs
bochsout.txt
bochslog.txt

# Logs da porta serial (COM1) e dumps
*.out
com1.out
dump.txt
dump_utf8.txt
