# Documentação gerada
/docs

# Arquivos compilados
*.o
*.elf
*.iso

# Diretório ISO temporário
/iso/boot/kernel.elf

# Logs do Bochs
bochsout.txt
bochslog.txt

# Logs da porta serial (COM1) e dumps
*.out
com1.out
dump.txt
dump_utf8.txt
